{% extends 'base.html' %}

{% load static %}

{% block title %}Create a Pipeline{% endblock %}

{% block content %}
  <style>ul#id_sources {list-style-type: none;}</style>
    <br>
    <div class="container-fluid offset-2">
        <div class="row">
            <div class="col-8">
                <div class="card card-body">
                    <h4 class="card-header"><b>Create Pipeline</b></h4><br>
                    <div class="alert alert-danger" style="display: none;" id="message"></div>
                     <form method="POST" class="form-group" id="create_pipeline_form">
                         {% csrf_token %}
                         <div class="input-group mb-3">
                            <div class="input-group-append">
                                 <span class="input-group-text">{{form.sources.label}}
                                     &nbsp;<i data-content="Select a created query to send information to students within
                                                    that query" class="fa fa-question-circle"></i>
                                 </span>
                            </div>
                            &nbsp;{{form.sources}}
                         </div>
                         <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text">{{form.name.label}}</span>
                            </div>
                            &nbsp;{{form.name}}
                         </div>
                         <div class="input-group mb-3">
                             <div class="input-group-append">
                                <span class="input-group-text">{{form.description.label}}</span>
                             </div>
                            &nbsp;{{form.description}}
                         </div>
                         <div class="input-group mb-3">
                             <div class="input-group-append">
                                 <span class="input-group-text">{{form.num_stages.label}}
                                     &nbsp;<i data-content="This will specify how many times a student will be contacted
                                                over some space of time." class="fa fa-question-circle"></i>
                                 </span>
                             </div>
                             &nbsp;{{form.num_stages}}
                         </div>
                        <div id="define_stages"></div><br>
                        <button id="create_pipeline_submit_button" name="create_pipeline_submit" class="btn btn-dark btn-block" style="display: none;" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/pipeline/create_pipeline.js' %}"></script>
{% endblock %}
