{% extends "base.html" %}

{% block title %}
PGSCM Dashboard
{% endblock title %}

{% block content %}
    <div class="container" style="margin-top: 2%;">
        <div class="row">
            <div class="col-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Pipelines</h5>
                        <div class="container overflow-auto" style="max-height: 200px;">
                            {% for pipeline in pipelines %}
                            <div class="row">
                                <div class="col-11">
                                    <p>{{ pipeline.name }}</p>
                                </div>
                                <div class="col-1">
                                    <input class="form-check-input" type="radio" name="radioNoLabel" id="{{pipeline.name}} radio button">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                    <form action="{% url 'create_pipeline' %}">
                        <button id="create_pipeline_button" class="btn btn-primary" type="submit">Create Pipelines</button>
                    </form>
                <button type="button" class="btn btn-primary" id="edit_pipeline_button" style="margin-top: 1%;">Edit Pipeline</button>
                <button type="button" class="btn btn-primary" id="delete_pipeline_button" style="margin-top: 1%;">Delete Pipeline</button>
            </div>
            <div class="col-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Saved Queries</h5>
                        <div class="container overflow-auto" style="max-height: 200px;">
                            {% for query in saved_queries %}
                            <div class="row">
                                <div class="col-11">
                                    <p>{{ query.query_name }}</p>
                                </div>
                                <div class="col-1">
                                    <input class="form-check-input" type="radio" name="radioNoLabel" id="{{query.query_name}} radio button">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <a href="{% url 'student' %}" class="btn btn-primary" role="button" style="margin-top: 1%;" id="create_query_button">New Saved Query</a>
                <button type="button" class="btn btn-primary" id="edit_query_button" style="margin-top: 1%;">Edit Saved Query</button>
                <button type="button" class="btn btn-primary" id="delete_query_button" style="margin-top: 1%;">Delete Saved Query</button>
            </div>
        </div>
    </div>
{% endblock content%}
