<style>
    #id_subject {
        width: 470px;
    }
</style>

{% load static %}

<div class="card card-body" style="border: none;">
    <h5 class="card-header"><b>Stage Definition</b></h5><br>
    {% for form in forms %}
    <div class="input-group mb-3">
        <div class="input-group-append">
            <span class="input-group-text">{{form.name.label}}</span>
        </div>
        &nbsp;{{ form.name }}
    </div>
    <div class="input-group mb-3">
        <div class="input-group-append">
            <span class="input-group-text">{{form.subject.label}}
             &nbsp;<i data-content="Specify subject line for email sent at this stage" class="fa fa-question-circle"></i>
            </span>
        </div>
        &nbsp;{{ form.subject }}
    </div>
    <div class="btn-group" style="margin-bottom: 16px">
      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id = "Stage_{{ forloop.counter }}_dropdown_initalizer">
        Select Template
      </button>
      <div class="dropdown-menu" id = "Stage_{{ forloop.counter }}_dropdown">
        {% for template in templates %}
            <button class="dropdown-item" value = "{{template.content}}+++{{template.id}}">{{template.name}}</button>
        {% endfor %}
      </div>
    </div>
    <div id = "Stage_{{ forloop.counter }}_template">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-append">
            <span class="input-group-text">{{form.time_window.label}}
                &nbsp;<i data-content="This time window is in days. Specify length of stage
                    by specifying amount of days for the stage" class="fa fa-question-circle"></i>
            </span>
        </div>
        &nbsp;{{ form.time_window }}
    </div>
    <div class="input-group mb-3">
        <div class="input-group-append">
            <span class="input-group-text">{{ form.advancement_condition.label }}
                &nbsp;<i data-content="For student to move to the next stage these are
                    conditions that need to be met" class="fa fa-question-circle"></i>
            </span>
        </div>
        &nbsp;{{ form.advancement_condition }}
    </div>
    <hr/>
    {% endfor %}
</div>

{% block javascript %}
    <script src="{% static 'js/pipeline/create_template.js' %}"></script>
    <script>
        $(function () {
            $('.fa').popover({trigger: "hover"});
        })
    </script>
{% endblock %}



