<style>
    .messages-no-bullets li{
        list-style-type: none;
    }
</style>

{% extends 'base.html' %}
{% load static %}

{% block title %}
API Portal | PGSCM
{% endblock title %}

{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body">
                <h5 class="card-header">Create API</h5><br>
                {% if messages %}
                    <div class="alert alert-dark">
                        <ul class="messages-no-bullets">
                            {% for message in messages %}
                            <li> {{ message }} </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form method="POST" class="form-group" id="create_student_form">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{form.name.label}}</span>
                        </div>
                        {{form.name}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{form.email.label}}</span>
                        </div>
                        {{form.email}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{form.expiry_date.label}}</span>
                        </div>
                        {{form.expiry_date}}
                    </div>
                    <button id="create_student_submit_button" class="btn btn-primary" type="submit">Create</button>
                </form>
            </div>
        </div>
        <div class="col-md-8 d-flex align-items-stretch">
            <div class="card card-body">
                <h4 class="card-header">API Keys</h4>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-sm" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Prefix</th>
                                <th>Email</th>
                                <th>Date</th>
                                <th>Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in keys %}
                            <tr>
                                <td>{{key.name}}</td>
                                <td>{{key.prefix }}</td>
                                <td>{{key.email}}</td>
                                <td>{{key.created }}</td>
                                <td>
                                    {% if key.revoked %}
                                        False
                                    {%  else %}
                                        True
                                    {% endif %}
                                </td>
                                <td><a class="btn btn-sm btn-info" href="{% url 'api_profile' key.prefix %}">View</a></td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}