{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
    <div class="col-md-8">
        <div class="card card-body">
            {% block content1 %}
            <h4 class="card-header">API Keys
                <small class="float-sm-right">
                    <form action="{% url 'create_api' %}">
                        <button id="create_api_button" class="btn btn-primary" type="submit">Create API Key</button>
                    </form>
                </small>
            </h4>
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>Prefix</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Active</th>
                </tr>
                {% for key in keys %}
                <tr>
                    <td>{{key.name}}</td>
                    <td>{{key.prefix }}</td>
                    <td>{{key.email}}</td>
                    <td>{{key.created }}</td>
                    <td>
                        {% if key.revoked %}
                            False
                        {%  else %}
                            True
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endblock %}
        </div>
    </div>
{% endblock %}