{% extends "base.html" %}

{% load static %}
{% block content %}

<br>

<div class="col-md-8">
    <div class="card card-body">
        <h5 class="card-header">Create API</h5><br>
        <form method="POST" class="form-group" id="create_student_form">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">{{form.name.label}}</span>
                </div>
                {{form.name}}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">{{form.email.label}}</span>
                </div>
                {{form.email}}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">{{form.expiry_date.label}}</span>
                </div>
                {{form.expiry_date}}
            </div>
            <button id="create_student_submit_button" class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>
{% endblock %}