{% extends 'base.html' %}
{% load static %}

{% block content %}

<br>

<div class="row">
	<div class="col-md-4">
		<div class="card card-body">
            {%  block content1 %}
            <h5 class="card-header">Query Students</h5><br>
			<form method="get">
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">{{student_filter.form.name.label}}</span>
                    </div>
                    {{student_filter.form.name}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">{{student_filter.form.school_year.label}}</span>
                    </div>
                    {{student_filter.form.school_year}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">{{student_filter.form.degree.label}}</span>
                    </div>
                    {{student_filter.form.degree}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">{{student_filter.form.university.label}}</span>
                    </div>
                    {{student_filter.form.university}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">{{student_filter.form.gpa.label}}</span>
                    </div>
                    {{student_filter.form.gpa}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">{{student_filter.form.ethnicity.label}}</span>
                    </div>
                    {{student_filter.form.ethnicity}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">{{student_filter.form.gender.label}}</span>
                    </div>
                    {{student_filter.form.gender}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">{{student_filter.form.country.label}}</span>
                    </div>
                    {{student_filter.form.country}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">{{student_filter.form.us_citizenship.label}}</span>
                    </div>
                    {{student_filter.form.us_citizenship}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">{{student_filter.form.first_generation.label}}</span>
                    </div>
                    {{student_filter.form.first_generation}}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">{{student_filter.form.military.label}}</span>
                    </div>
                    {{student_filter.form.military}}
                </div>
		        <button id="id_submit_filter" class="btn btn-primary" type="submit">Search</button>
		    </form>
            {% endblock %}

		</div>
	</div>

    <div class="col-md-8">
        <div class="card card-body">
            {%  block content2 %}
            <h4 class="card-header">Students
                <small class="float-sm-right">
                    <form action="{% url 'create' %}">
                        <button id="create_student_button" class="btn btn-primary" type="submit">Create Students</button>
                    </form>
                </small>
            </h4>
            <table class="table table-sm">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>University</th>
                </tr>

                {% for student in students %}
                <tr>
                    <td>{{student.first_name}}</td>
                    <td>{{student.last_name}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.country}}</td>
                    <td>{{student.university}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_student' student.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_student' student.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            {% endblock %}
        </div>
    </div>
</div>



{% endblock %}