{% load static %}


<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
  img {
  display: block;
  max-width: 70px;
  max-height: 70px;
  }
</style>

<nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <img src="{% static 'images/tigerhawk.png' %}" class="navbar-brand" style="padding-right: 20px;"/>
  <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-auto" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}" id="id_dashboard">Dashboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'student' %}" id="student-nav-link">Student Portal</a>
      </li>
    </ul>
  </div>
    <span>
        {% if request.user.is_superuser %}
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="nav-link" href="{% url 'register' %}" id="id_register_link">Register User</a>
            </div>
        </div>
        {% endif %}
    </span>
    &nbsp; &nbsp; &nbsp;

  <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
  <!--span class="hello-msg">Hello, {#{request.user}#}</span-->
  <!--span><a  class="hello-msg" href="{#% url 'logout' %#}">Logout</a></span-->

</nav>