<style>
    #id_gpa, #id_scale {
        width: 70px;
    }
</style>

{% extends "home.html" %}

{% load static %}

{% block title %}
Create Student | PGSCM
{% endblock title %}

{% block content1 %}
    <h5 class="card-header">Create Student</h5><br>
    <form method="POST" class="form-group" id="create_student_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.first_name.label}}</span>
            </div>
            &nbsp;{{form.first_name}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.last_name.label}}</span>
            </div>
            &nbsp;{{form.last_name}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.email.label}}</span>
            </div>
            &nbsp;{{form.email}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.school_year.label}}</span>
            </div>
            &nbsp;{{form.school_year}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.degree.label}}</span>
            </div>
            &nbsp;{{form.degree}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.university.label}}</span>
            </div>
            &nbsp;{{form.university}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.research_interests.label}}
                    &nbsp;<i data-content="Particular research interests student
                        might have" class="fa fa-question-circle"></i>
                </span>
            </div>
            &nbsp;{{form.research_interests}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">GPA
                    &nbsp;<i data-content="Please indicate student GPA as well as the scale
                        it is measured with" class="fa fa-question-circle"></i>
                </span>
            </div>
            &nbsp;{{form.gpa}} &nbsp; out of &nbsp; {{form.scale}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.ethnicity.label}}</span>
            </div>
            &nbsp;{{form.ethnicity}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.gender.label}}</span>
            </div>
            &nbsp;{{form.gender}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.country.label}}</span>
            </div>
            &nbsp;{{form.country}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.us_citizenship.label}}</span>
            </div>
            &nbsp;{{form.us_citizenship}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.first_generation.label}}</span>
            </div>
            &nbsp;{{form.first_generation}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">{{form.military.label}}</span>
            </div>
            &nbsp;{{form.military}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">Image Upload (Optional)</span>
            </div><br>
            &nbsp;&nbsp;{{form.profile_image}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">Resume Upload</span>
            </div><br>
            &nbsp;&nbsp;{{form.resume}}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text">Transcript Upload</span>
            </div><br>
            &nbsp;&nbsp;{{form.transcript}}
        </div>
        <button id="create_student_submit_button" class="btn btn-primary" type="submit">Create</button>
    </form>

{% endblock %}