<style>
    #id_gpa_start, #id_gpa_end {
        width: 50px;
    }
    #id_country {
        width: 250px;
    }
    .my-custom-scrollbar {
        position: relative;
        max-height: 700px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
</style>

{% extends 'base.html' %}
{% load static %}

{% block title %}
Student Portal | PGSCM
{% endblock title %}

{% block content %}

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body">
                {%  block content1 %}
                <h5 class="card-header">Query Students</h5><br>
                <form id="query-form" method="get">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{student_filter.form.name.label}}</span>
                        </div>
                        &nbsp;{{student_filter.form.name}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{student_filter.form.school_year.label}}</span>
                        </div>
                        &nbsp;{{student_filter.form.school_year}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{student_filter.form.degree.label}}</span>
                        </div>
                        &nbsp;{{student_filter.form.degree}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{student_filter.form.university.label}}</span>
                        </div>
                        &nbsp;{{student_filter.form.university}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{student_filter.form.research_interests.label}}</span>
                        </div>
                        &nbsp;{{student_filter.form.research_interests}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">GPA Range</span>
                        </div>
                        &nbsp;{{student_filter.form.gpa_start}} &nbsp;&nbsp;-&nbsp;&nbsp; {{student_filter.form.gpa_end}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{student_filter.form.ethnicity.label}}</span>
                        </div>
                        &nbsp;{{student_filter.form.ethnicity}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{student_filter.form.gender.label}}</span>
                        </div>
                        &nbsp;{{student_filter.form.gender}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{student_filter.form.country.label}}</span>
                        </div>
                        &nbsp;{{student_filter.form.country}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{student_filter.form.us_citizenship.label}}</span>
                        </div>
                        &nbsp;{{student_filter.form.us_citizenship}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{student_filter.form.first_generation.label}}</span>
                        </div>
                        &nbsp;{{student_filter.form.first_generation}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">{{student_filter.form.military.label}}</span>
                        </div>
                        &nbsp;{{student_filter.form.military}}
                    </div>

                    <div class="input-group mb-3">
                        {{save_query_form.query_name.as_hidden}}
                    </div>
                    <div class="input-group mb-3">
                        {{save_query_form.description.as_hidden}}
                    </div>

                    <button id="id_submit_filter" class="btn btn-primary" type="submit">Search</button>
                    <button id="id_save_query" class="btn btn-primary" type="submit">Save Query</button>
                    <div id="feedback-message"></div>
                </form>
                {% endblock %}

            </div>
        </div>

        <div class="col-md-8 d-flex align-items-stretch">
            <div class="card card-body">
                {%  block content2 %}
                    <h4 class="card-header">Students
                        <small class="float-sm-right">
                            <a id="email_student_button" class="btn btn-secondary" href="{% url 'send_email' %}">Request Information</a>
                            <a id="create_student_button" class="btn btn-primary" href="{% url 'create_student' %}">Create Students</a>
                        </small>
                    </h4>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table id="studentTable" class="table table-sm" style="width: 100%">
                            <thead>
                                <tr>
                                    <th class="th-sm">First Name</th>
                                    <th class="th-sm">Last Name</th>
                                    <th class="th-sm">Email</th>
                                    <th class="th-sm">Country</th>
                                    <th class="th-sm">University</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <td>{{student.first_name}}</td>
                                    <td>{{student.last_name}}</td>
                                    <td>{{student.email}}</td>
                                    <td>{{student.country}}</td>
                                    <td>{{student.university}}</td>
                                    <td><a class="btn btn-sm btn-info" href="{% url 'student_profile' student.id %}">View</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="save_query_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Save Query</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-body">
            <div class="alert alert-success" id="save_success_message" style="display: none;"></div>
            <div class="alert alert-danger" id="save_failure_message" style="display: none;"></div>
            <div id="save_query_popup_form">
              <form>
                  <div class="form-group">
                    <label for="modal_query_name">Query Name</label>
                    <input type="text" class="form-control" id="modal_query_name">
                  </div>
                  <div class="form-group">
                    <label for="modal_query_description">Query Description</label>
                      <textarea type="text" class="form-control" id="modal_query_description"></textarea>
                  </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="modal_save_query" action="{% url 'save_query' %}">Save Query</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_button">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
    <script src="{% static 'js/student/save_query_popup.js' %}"></script>
{% endblock javascript %}

