<style>
    .cover {
        object-fit: cover;
        width: 100%;
        height: 12vw;
    }
    .my-custom-scrollbar {
        position: relative;
        height: 650px;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }
</style>

{% extends "home.html" %}

{% load static %}

{%  block content1 %}
    <div class="card">
        <h5 class="card-header">Students</h5><br>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-sm">
                <tr>
                    <th>&nbsp;&nbsp;First Name</th>
                    <th>&nbsp;&nbsp;Last Name</th>
                    <th></th>
                </tr>

                {% for student in students %}
                <tr>
                    <td>&nbsp;&nbsp;{{student.first_name}}</td>
                    <td>&nbsp;&nbsp;{{student.last_name}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'student_profile' student.id %}">View</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block content2 %}
    <div class="card">
        <h5 class="card-header">{{ student.first_name }} {{ student.last_name }}'s profile
            <small class="float-sm-right">
                <a id="update_student_button"  class="btn btn-sm btn-info" href="{% url 'update_student' student.id %}">Update</a>
                <a id="delete_student_button" class="btn btn-sm btn-danger" onclick="deleteStudent('{{student.email }}')">Delete</a>
            </small>
        </h5><br>
        {% if messages %}
            <div class="alert alert-dark">
                <ul class="messages-no-bullets">
                    {% for message in messages %}
                    <li> {{ message }} </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="col-md-14">
                           <div class="card flex-row flex-wrap">
                                <div class="card-header border-0 p-0 align-items-center" style="width: 12rem;">
                                    <div class="view overlay zoom">
                                        {% if student.profile_image %}
                                            <img class="cover" src="{{ student.profile_image.url }}" >
                                        {% else %}
                                            <img class="cover" src="{% static 'images/default_profile.png' %}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-block px-6">
                                    <br>
                                    <h5 class="card-title">&nbsp;&nbsp; About </h5>
                                    <p class="card-text">
                                        <p><strong> &nbsp;&nbsp;&nbsp;&nbsp;Name:</strong> {{ student.first_name }} {{ student.last_name }} </p>
                                        <p><strong> &nbsp;&nbsp;&nbsp;&nbsp;Email:</strong> {{ student.email }} </p>
                                        <p><strong> &nbsp;&nbsp;&nbsp;&nbsp;University:</strong> {{ student.university }} </p>
                                        <p><strong> &nbsp;&nbsp;&nbsp;&nbsp;Country:</strong> {{ student.country.name }} </p>
                                    </p>
                                </div>
                                <div class="w-100"></div>
                           </div>
                        </div>
                    </div>
                    <br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div class="card card-body">
                                    <h6 class="card-title">Academics Information
                                    </h6><br>
                                    <p><strong>Year in School:</strong> {{ student.school_year }} </p>
                                    <p><strong>Degree:</strong> {{ student.degree }} </p>
                                    <div class="input-group-append">
                                        <p><strong>Research Interest:</strong> {% for i in student.research_interests %} &nbsp; <span class="badge badge badge-pill  badge-info"> {{ i }} </span> {% endfor %} </p>
                                    </div>
                                    <p><strong>GPA:</strong>
                                        {% if student.gpa == None or student.scale == None %}
                                            <span class="badge badge-danger"> Missing </span>
                                        {% else %}
                                            <span class="badge badge-info"> {{ student.gpa }} </span> out of <span class="badge badge-info"> {{ student.scale }} </span>
                                        {% endif %}
                                    </p>
                                    <p><strong>Normalized GPA:</strong>
                                        {% if student.normal_gpa >= 3.6 %}
                                            <span class="badge badge-success"> {{ student.normal_gpa }} </span>
                                        {% elif student.normal_gpa >= 3 %}
                                            <span class="badge badge-info"> {{ student.normal_gpa }} </span>
                                        {% elif student.normal_gpa < 3 %}
                                            <span class="badge badge-danger"> {{ student.normal_gpa }} </span>
                                        {% else %}
                                            <span class="badge badge-danger"> Missing </span>
                                        {% endif %}
                                    </p>
                                    <div class="mt-auto">
                                        <small class="float-sm-left">
                                            <form method="post" action="{% url 'student_profile' student.id %}">
                                                {% csrf_token %}
                                                <button id="submit_student_email_button" name="form1" class="btn btn-sm btn-info" type="submit">Request Update</button>
                                            </form>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div class="card card-body">
                                    <h6 class="card-title">Scholarship Potential</h6><br>
                                    <p><strong>First Generation:</strong>
                                        {% if student.first_generation %}
                                            <span class="badge badge-success"> YES </span>
                                        {% elif student.first_generation == null %}
                                            <span class="badge badge badge-pill  badge-info"> UNKNOWN </span>
                                        {% else %}
                                            <span class="badge badge-danger"> NO </span>
                                        {% endif %}
                                    </p>
                                    <p><strong>US Citizen:</strong>
                                        {% if student.us_citizenship %}
                                            <span class="badge badge-success"> YES </span>
                                        {% elif student.us_citizenship == null %}
                                            <span class="badge badge badge-pill  badge-info"> UNKNOWN </span>
                                        {% else %}
                                            <span class="badge badge-danger"> NO </span>
                                        {% endif %}
                                    </p>
                                    <p><strong>Military:</strong>
                                        {% if student.military %}
                                            <span class="badge badge-success"> YES </span>
                                        {% elif student.military == null %}
                                            <span class="badge badge badge-pill  badge-info"> UNKNOWN </span>
                                        {% else %}
                                            <span class="badge badge-danger"> NO </span>
                                        {% endif %}
                                    </p><br>
                                    <div class="mt-auto">
                                        <small class="float-sm-left">
                                            <form method="post" action="{% url 'student_profile' student.id %}">
                                                {% csrf_token %}
                                                <button id="demographics_email_button" name="form2" class="btn btn-sm btn-info btn-block" type="submit">Request Update</button>
                                            </form>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card card-body">
                        <h6 class="card-title">Documents</h6><br>
                        <p><strong>Resume:</strong>{% if student.resume %} <a href="{{ student.resume.url }}"> Click Here</a>{% endif %}</p>
                        <p><strong>Transcript:</strong>{% if student.transcript %} <a href="{{ student.transcript.url }}"> Click Here</a>{% endif %}</p>
                    </div><br>
                    <div class="card card-body">
                        <h6 class="card-title">Communication Log</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="delete_student_modal">
        <div class="modal-dialog" role="document">
            <form id="delete_student_form">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Deletion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input type="hidden" name="id" value='{{ student.id }}' />
                    <div class="modal-body" id="confirm_student_delete_message"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="final_student_delete_button">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="escape_student_popup">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/student/delete.js' %}"></script>
{% endblock javascript %}