{% extends "home.html" %}

{% load static %}

<style>
    .image {
    width: 12rem;
    height: 40vh;
    object-fit: cover;
}
</style>

{%  block content1 %}
    <div class="card">
        <h5 class="card-header">Students</h5><br>
        <table class="table table-sm">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>

            {% for student in students %}
            <tr>
                <td>{{student.first_name}}</td>
                <td>{{student.last_name}}</td>
                <td><a class="btn btn-sm btn-info" href="{% url 'student_profile' student.id %}">View</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block content2 %}
    <div class="card">
        <h5 class="card-header">{{ student.first_name }} {{ student.last_name }}'s profile
            <small class="float-sm-right">
                <a class="btn btn-sm btn-info" href="{% url 'update_student' student.id %}">Update</a>
                <a class="btn btn-sm btn-danger" href="{% url 'delete_student' student.id %}">Delete</a>
            </small>
        </h5><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="col-md-14">
                           <div class="card flex-row flex-wrap">
                                <div class="card-header border-0 align-items-center" style="width: 12rem;">
                                    <br>
                                    {% if student.profile_image %}
                                        <img class='image' src="{{ student.profile_image.url }}" width="150px">
                                    {% else %}
                                        <img class='image' src="{% static 'images/default_profile.png' %}" width="150px">
                                    {% endif %}
                                </div>
                                <div class="card-block px-6">
                                    <br>
                                    <h5 class="card-title">&nbsp;&nbsp; About</h5>
                                    <p class="card-text">
                                        <p><strong> &nbsp;&nbsp;&nbsp;&nbsp;Name:</strong> {{ student.first_name }} {{ student.last_name }} </p>
                                        <p><strong> &nbsp;&nbsp;&nbsp;&nbsp;Email:</strong> {{ student.email }} </p>
                                        <p><strong> &nbsp;&nbsp;&nbsp;&nbsp;University:</strong> {{ student.university }} </p>
                                        <p><strong> &nbsp;&nbsp;&nbsp;&nbsp;Country:</strong> {{ student.country.name }} </p>
                                    </p>
                                </div>
                                <div class="w-100"></div>
                           </div>
                        </div>
                    </div>
                    <br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div class="card card-body">
                                    <h6 class="card-title">Academics Information</h6><br>
                                    <p><strong>Year in School:</strong> {{ student.school_year }} </p>
                                    <p><strong>Degree:</strong> {{ student.degree }} </p>
                                    <div class="input-group-append">
                                        <p><strong>Research Interest:</strong> {% for i in student.research_interests %} &nbsp; <span class="badge badge badge-pill  badge-info"> {{ i }} </span> {% endfor %} </p>
                                    </div>
                                    <p><strong>GPA:</strong>  {{ student.gpa }} </p>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div class="card card-body">
                                    <h6 class="card-title">Scholarship Potential</h6><br>
                                    <p><strong>First Generation:</strong> {% if student.first_generation %} YES {% else %} NO {% endif %} </p>
                                    <p><strong>US Citizen:</strong> {% if student.us_citizenship %} YES {% else %} NO {% endif %} </p>
                                    <p><strong>Military:</strong>  {% if student.military %} YES {% else %} NO {% endif %} </p>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card card-body">
                        <h6 class="card-title">Documents</h6><br>
                        <p><strong>Resume:</strong>{% if student.resume %} <a href="{{ student.resume.url }}"> Click Here</a>{% endif %}</p>
                        <p><strong>Transcript:</strong>{% if student.transcript %} <a href="{{ student.transcript.url }}"> Click Here</a>{% endif %}</p>
                    </div><br>
                    <div class="card card-body">
                        <h6 class="card-title">Communication Log</h6><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}